<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735274580659-qetpvprvin9auhrosfn20s11mape41al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735274580659-qetpvprvin9auhrosfn20s11mape41al</string>
	<key>API_KEY</key>
	<string>AIzaSyA5hjpQoHpNCIZpFcvFG_wmwRaoZj06jOk</string>
	<key>GCM_SENDER_ID</key>
	<string>735274580659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMemories</string>
	<key>PROJECT_ID</key>
	<string>app-memories-jcj</string>
	<key>STORAGE_BUCKET</key>
	<string>app-memories-jcj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735274580659:ios:6d23f0974a5a4c6b52cec6</string>
</dict>
</plist>